<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/stylesheets/component.css">
    <style>

        #file{
            width: 400px;
            height:650px;
        }

        .btn{
            display: block;
            height: 40px;
            line-height: 38px;
            font-size: 20px;
            margin-top: 20px;
        }


    </style>

</head>
<body>

<canvas id="video-canvas" width="800"></canvas>

<script type="text/javascript" src="/javascripts/jsmpeg.min.js"></script>
<script>


    (function () {
        var canvas = document.getElementById('video-canvas');
        var url = 'ws://'+document.location.hostname+':9999/';
        var player = new JSMpeg.Player(url, {canvas: canvas});

        var ws = new WebSocket('ws://localhost:9999');
        ws.onopen = function()
        {
            console.log("数据发送中...");
        };

        ws.onmessage = function (evt)
        {
            var received_msg = evt.data;
            console.log("数据已接收...",received_msg);
        };

    })()



</script>


</body>
</html>